<div class="container">
  <h1>Log in </h1>
  <%= form_tag(sessions_path, method: "post") do %>
    <div class="form-group">
      <label>Email</label>
      <%= text_field_tag :email, '', class: 'form-control', placeholder: 'Your email address' %>
    </div>
      
    <div class="form-group">
      <label>Password</label>
      <%= password_field_tag 'password', '', class: 'form-control', placeholder: 'Your password' %>
    </div>

    <div class="form-group">
      <button type="submit">Log in</button>
    </div>

  <% end %>

</div>