<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body class="ecommerce-page">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-white fixed-top navbar-transparent" color-on-scroll="500">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="http://demos.creative-tim.com/marketplace/now-ui-kit-pro/presentation.html" rel="tooltip" title="Designed by Invision. Coded by Creative Tim" data-placement="bottom">
                    E-Kitten
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" data-nav-image="../assets/img/blurred-image-1.jpg" data-color="orange">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenu" href="" data-toggle="dropdown">
                      <i class="now-ui-icons design_app"></i>
                      <p>Profil</p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#">
                        <i class="now-ui-icons business_chart-pie-36"></i>
                        Se connecter
                      </a>
                      <a class="dropdown-item" href="#">
                        <i class="now-ui-icons files_single-copy-04"></i>
                        Déconnexion
                      </a>
                    </div>
                  </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">
                            <i class="now-ui-icons files_paper" aria-hidden="true"></i>
                            <p>Chatons</p>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">
                                <i class="now-ui-icons shopping_box"></i> Mignon
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="now-ui-icons ui-2_settings-90"></i> Gros
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="now-ui-icons text_align-left"></i> Petit
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="now-ui-icons sport_user-run"></i> LolCat
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">
                            <i class="now-ui-icons design_image" aria-hidden="true"></i>
                            <p>Emplacement libre</p>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../examples/about-us.html">
                                <i class="now-ui-icons business_bulb-63"></i> About-us
                            </a>
                            <a class="dropdown-item" href="../examples/blog-post.html">
                                <i class="now-ui-icons text_align-left"></i> Blog Post
                            </a>
                            <a class="dropdown-item" href="../examples/blog-posts.html">
                                <i class="now-ui-icons design_bullet-list-67"></i> Blog Posts
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="wrapper">
        <div id="carouselExampleIndicators" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item">
                    <div class="page-header header-filter">
                        <div class="page-header-image" style="background-image: url('https://images.pexels.com/photos/416160/pexels-photo-416160.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');"></div>
                        <div class="content-center text-center">
                            <div class="row">
                                <div class="col-md-8 ml-auto mr-auto2">
                                    <h1 class="title">Les chatons les plus mignons</h1>
                                    <h4 class="description text-white">Des boules de poils trop choupinous</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item active">
                    <div class="page-header header-filter">
                        <div class="page-header-image" style="background-image: url('https://images.pexels.com/photos/39255/cat-favorite-relaxation-rest-39255.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');"></div>
                        <div class="content-center">
                            <div class="row">
                                <div class="col-md-8 ml-auto mr-auto text-center">
                                    <h1 class="title">Les chatons les plus cons</h1>
                                    <h4 class="description text-white">Idiots et rigolos nous les avons tous</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="page-header header-filter">
                        <div class="page-header-image" style="background-image: url('https://images.pexels.com/photos/171227/pexels-photo-171227.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');"></div>
                        <div class="content-center text-center">
                            <div class="row">
                                <div class="col-md-8 ml-auto mr-auto">
                                    <h1 class="title">Trop Lolilol</h1>
                                    <h4 class="description text-white">HIHIHIHIHIHIHIHIHI (putain c'est con)</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <i class="now-ui-icons arrows-1_minimal-left"></i>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <i class="now-ui-icons arrows-1_minimal-right"></i>
            </a>
        </div>
        <div class="main">
            <div class="section">
                <div class="container">
                    <h2 class="section-title">Tout nos chatons</h2>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="collapse-panel">
                                <div class="card-body">
                                    <div class="card card-refine card-plain">
                                        <h4 class="card-title">
                                            Rechercher
                                            <button class="btn btn-default btn-icon btn-neutral pull-right" rel="tooltip" title="Reset Filter">
                                                <i class="arrows-1_refresh-69 now-ui-icons"></i>
                                            </button>
                                        </h4>
                                        <div class="card-header" role="tab" id="headingOne">
                                            <h6 class="mb-0">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    Prix
                                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="card-body">
                                                <span id="price-left" class="price-left pull-left" data-currency="&euro;">0</span>
                                                <span id="price-right" class="price-right pull-right" data-currency="&euro;">1000</span>
                                                <div class="clearfix"></div>
                                                <div id="sliderRefine" class="slider slider-refine"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card card-refine card-plain">
                                        <div class="card-header" role="tab" id="headingTwo">
                                            <h6 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Races
                                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="card-body">
                                                <div class="checkbox">
                                                    <input id="checkbox1" type="checkbox" checked="">
                                                    <label for="checkbox1">
                                                        Gouttière
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <input id="checkbox2" type="checkbox">
                                                    <label for="checkbox2">
                                                        Siamois
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <input id="checkbox3" type="checkbox">
                                                    <label for="checkbox3">
                                                        Maine Coon
                                                    </label>
                                                </div>
                                            
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card card-refine card-plain">
                                        <div class="card-header" role="tab" id="headingThree">
                                            <h6 class="mb-0">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    Style
                                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                                </a>
                                            </h6>
                                        </div>
                                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="card-body">
                                                <div class="checkbox">
                                                    <input id="checkbox9" type="checkbox">
                                                    <label for="checkbox9">
                                                        Gaudriole
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <input id="checkbox10" type="checkbox">
                                                    <label for="checkbox10">
                                                        Chutes
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <input id="checkbox11" type="checkbox">
                                                    <label for="checkbox11">
                                                        Feu
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
<!-- 
<%@items.each do |item|%>
<div class="col-lg-4 col-md-6">
  <div class="card card-product card-plain">
    <div class="card-image">
      <a href="#">
        <img src="https://images.pexels.com/photos/416160/pexels-photo-416160.jpeg?auto=compress&cs=tinysrgb&h=120&w=250" alt="chaton" />
      </a>
      </div>
      <div class="card-body">
      <a href="#">
        <h4 class="card-title"><%= item.title %></h4>
      </a>
      <p class="card-description">
        <%= item.description %>
      </p>
      <div class="card-footer">
        <div class="price-container">
          <span class="price"> &euro; <%= item.price %></span>
        </div>
        <button class="btn btn-danger btn-neutral btn-icon btn-round pull-right" rel="tooltip" title="Remove from wishlist" data-placement="left">
          <i class="now-ui-icons ui-2_favourite-28"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<%end%> -->
                                <div class="col-lg-4 col-md-6">
                                    <div class="card card-product card-plain">
                                        <div class="card-image">
                                            <a href="#">
                                                <img src="#" alt="..." />
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <a href="#">
                                                <h4 class="card-title">Polo Ralph Lauren</h4>
                                            </a>
                                            <p class="card-description">
                                                Impeccably tailored in Italy from lightweight navy wool.
                                            </p>
                                            <div class="card-footer">
                                                <div class="price-container">
                                                    <span class="price"> &euro; 300</span>
                                                </div>
                                                <button class="btn btn-danger btn-neutral btn-icon btn-round pull-right" rel="tooltip" title="Remove from wishlist" data-placement="left">
                                                    <i class="now-ui-icons ui-2_favourite-28"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end card -->
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="card card-product card-plain">
                                        <div class="card-image">
                                            <a href="#">
                                                <img src="../assets/img/tom-ford.jpg" alt="..." />
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <a href="#">
                                                <h4 class="card-title">Tom Ford</h4>
                                            </a>
                                            <p class="card-description">
                                                Immaculate tailoring is TOM FORD's forte.
                                            </p>
                                            <div class="card-footer">
                                                <div class="price-container">
                                                    <span class="price"> &euro; 879</span>
                                                </div>
                                                <button class="btn btn-neutral btn-icon btn-round pull-right" rel="tooltip" title="Add to wishlist" data-placement="left">
                                                    <i class="now-ui-icons ui-2_favourite-28"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end card -->
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="card card-product card-plain">
                                        <div class="card-image">
                                            <a href="#">
                                                <img src="../assets/img/wooyoungmi.jpg" alt="..." />
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <a href="#">
                                                <h4 class="card-title">Wooyoungmi</h4>
                                            </a>
                                            <p class="card-description">
                                                Dark-grey slub wool, pintucked notch lapels.
                                            </p>
                                            <div class="card-footer">
                                                <div class="price-container">
                                                    <span class="price">&euro; 555</span>
                                                </div>
                                                <button class="btn btn-neutral btn-icon btn-round pull-right" rel="tooltip" title="Add to wishlist" data-placement="left">
                                                    <i class="now-ui-icons ui-2_favourite-28"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end card -->
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="card card-product card-plain">
                                        <div class="card-image">
                                            <a href="#">
                                                <img src="../assets/img/sweeney.jpg" alt="..." />
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <a href="#">
                                                <h4 class="card-title">Thom Sweeney</h4>
                                            </a>
                                            <p class="card-description">
                                                It's made from lightweight grey wool woven.
                                            </p>
                                            <div class="card-footer">
                                                <div class="price-container">
                                                    <span class="price"> &euro; 680</span>
                                                </div>
                                                <button class="btn btn-neutral btn-icon btn-round pull-right" rel="tooltip" title="Add to wishlist" data-placement="left">
                                                    <i class="now-ui-icons ui-2_favourite-28"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end card -->
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="card card-product card-plain">
                                        <div class="card-image">
                                            <a href="#">
                                                <img src="../assets/img/kingsman.jpg" alt="..." />
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <a href="#">
                                                <h4 class="card-title">Kingsman</h4>
                                            </a>
                                            <p class="card-description">
                                                Crafted from khaki cotton and fully canvassed.
                                            </p>
                                            <div class="card-footer">
                                                <div class="price-container">
                                                    <span class="price"> &euro; 725</span>
                                                </div>
                                                <button class="btn btn-neutral btn-icon btn-round pull-right" rel="tooltip" title="Remove from wishlist" data-placement="left">
                                                    <i class="now-ui-icons ui-2_favourite-28"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end card -->
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="card card-product card-plain">
                                        <div class="card-image">
                                            <a href="#">
                                                <img src="../assets/img/boglioli.jpg" alt="..." />
                                            </a>
                                        </div>
                                        <div class="card-body">
                                            <a href="#">
                                                <h4 class="card-title">Boglioli</h4>
                                            </a>
                                            <p class="card-description">
                                                Masterfully crafted in Northern Italy.
                                            </p>
                                            <div class="card-footer">
                                                <div class="price-container">
                                                    <span class="price">&euro; 699</span>
                                                </div>
                                                <button class="btn btn-neutral btn-icon btn-round pull-right" rel="tooltip" title="Add to wishlist" data-placement="left">
                                                    <i class="now-ui-icons ui-2_favourite-28"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end card -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  
        <!-- end-main-raised -->
        <footer class="footer ">
            <div class="container">
                <nav>
                    <ul>
                        <li>
                            <a href="#creative">
                                Locust Devs
                            </a>
                        </li>
                        <li>
                            <a href="#creative">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="#creative">
                                Blog
                            </a>
                        </li>
                        <li>
                            <a href="#creative">
                                License
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>, Designed by
                    <a href="#">Locust</a>. Coded by
                    <a href="#">Steph, Tanguy, Jack, Djémil et Paul</a>.
                </div>
            </div>
        </footer>
    </div>
</body>
<script type="text/javascript">
    $(document).ready(function() {

        var slider2 = document.getElementById('sliderRefine');

        noUiSlider.create(slider2, {
            start: [42, 880],
            connect: true,
            range: {
                'min': [30],
                'max': [900]
            }
        });

        var limitFieldMin = document.getElementById('price-left');
        var limitFieldMax = document.getElementById('price-right');

        slider2.noUiSlider.on('update', function(values, handle) {
            if (handle) {
                limitFieldMax.innerHTML = $('#price-right').data('currency') + Math.round(values[handle]);
            } else {
                limitFieldMin.innerHTML = $('#price-left').data('currency') + Math.round(values[handle]);
            }
        });
    });
</script>

</html>
