<!DOCTYPE html>
<html lang="en">

<head>
   
</head>

<body class="product-page">

    <div class="wrapper">
        <div class="page-header page-header-mini">
            <div class="page-header-image" data-parallax="true" style="background-image: url('https://images.pexels.com/photos/416160/pexels-photo-416160.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260') ;">
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div id="productCarousel" class="carousel slide" data-ride="carousel" data-interval="8000">
                            <ol class="carousel-indicators">
                                <li data-target="#productCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#productCarousel" data-slide-to="1"></li>
                                <li data-target="#productCarousel" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    <img class="d-block img-raised" src="https://images.pexels.com/photos/416160/pexels-photo-416160.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="First slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block img-raised" src="https://images.pexels.com/photos/39255/cat-favorite-relaxation-rest-39255.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Second slide">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block img-raised" src="https://images.pexels.com/photos/171227/pexels-photo-171227.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="Third slide">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#productCarousel" role="button" data-slide="prev">
                                <button type="button" class="btn btn-primary btn-icon btn-round btn-sm" name="button">
                                    <i class="now-ui-icons arrows-1_minimal-left"></i>
                                </button>
                            </a>
                            <a class="carousel-control-next" href="#productCarousel" role="button" data-slide="next">
                                <button type="button" class="btn btn-primary btn-icon btn-round btn-sm" name="button">
                                    <i class="now-ui-icons arrows-1_minimal-right"></i>
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6 ml-auto mr-auto">
                        <h2 class="title"> @item.title </h2>
                        <h2 class="main-price"> @item.price </h2>
                        <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
                            <div class="card card-plain">
                                <div class="card-header" role="tab" id="headingOne">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Description
                                        <i class="now-ui-icons arrows-1_minimal-down"></i>
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="card-body">
                                        <p> @item.description </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row pick-size">
                            <div class="col-lg-6 col-md-8 col-sm-6">
                                <label>Select size</label>
                                <select class="selectpicker" data-style="select-with-transition btn btn-block" data-size="7">
                                    <option value="1">Small </option>
                                    <option value="2">Medium</option>
                                    <option value="3">Large</option>
                                </select>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <button class="btn btn-primary mr-3">Add to Cart &nbsp;<i class="now-ui-icons shopping_cart-simple"></i></button>
                        </div>
                    </div>
                </div>
               </body>
							 </html>